# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entorno virtual
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Obsidian (configuración local del vault)
.obsidian/

# Variables de entorno
.env
